{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}
	<main class="container">
		<div class="row g-5">
			<div class="col-xl-8">
				<h3 class="pb-4 mb-4 border-bottom">Tous nos produits</h3>
				<div id="product-list">
					{% for product in products %}
						{% if product.active %}
							{% include 'products/list.html.twig' with { product: product, leftCol: 5, rightCol: 7 } %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="col-xl-4">
				<div class="position-sticky" style="top: 2rem;">
					{% include 'widgets/_categories.html.twig' %}
					{% include 'widgets/_about.html.twig' %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
