@import "~bootstrap/scss/bootstrap";

body{
  background: #fae1bac0;
}
/* NavBAr */
nav{
  /* background-color: transparent; */
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  padding: 10px; 
  transition: background-color 1.2s ease, opacity 1.2s ease;
  z-index: 1000;
  opacity: 0.7;
} 
// nav.transparent{
//   background-color: transparent;
  
// }
// nav.scrolled{
//   background-image: url('./media/nav/fond_navbar_test2.png');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   opacity: 1;
//   /* background-color: #fae1baf6;  */
// }

// /* card avec butt to action de l'accueil */
// .custom-image-container.homepage-image {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
// }

// .custom-image-full {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .card-img-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.304);
  

// }
// .card.custom-card {
//   max-width: 500px; 
//   margin: 0 auto; 
//   text-align: center; 
//   border: none;
// }

// /* Styles pour l'image de fond des autres pages */
// .custom-image-container.otherpage-image {
//   position: relative;
//   width: 100%;
//   height: 30vh; /* Hauteur personnalisée pour les autres pages */
//   overflow: hidden;
// }

// .custom-image-normal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 100%;
//   transform: translate(-50%, -50%);
//   object-fit: cover;
// }
// /* deuxième partie du footer */
// .footer-bg-image {
//   background-image: url('./media/nav/fond_navbar_test2.png');
//   background-size: cover; 
//   background-repeat: no-repeat;
//   flex-grow: 1;
//   /* min-height: 100%; */
// }





