{% extends 'base.html.twig' %}

{% block title %}{{ subject.name }}{% endblock %}

{% block body %}
<main class= "container">
    <div class="row g-5">
        <div class="col">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">{{ subject.name }} </h3>
        </div>
        <div id="articles-list">
            {% include 'article/list.html.twig' with { articles : subject.articles, leftCol : 4, rightCol : 8 } %}
        </div>
    </div>
</main>
{% endblock %}
