{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="article-title">{{ article.title }}</h1>
		<hr>

		{{ article.content|raw }}
	</div>

	{% if app.user %}
		{% include "article/commentForm.html.twig" %}
	{% endif %}
	{% include "article/comments.html.twig" %}

{% endblock %}
